<head>
  <meta name="apple-itunes-app" content="app-id=1197305962"/>
  <meta name="google-play-app" content="app-id=com.toucantoco.openhub"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name='apple-mobile-web-app-capable' content='yes'/>
  <link rel='apple-touch-icon' href='{{ site.baseurl }}/img/icon152x152.png'/>
  <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'/>
  <meta name="google-site-verification" content="v0m6qRHjxEL8CCOa4J1T3SHIFQsPFlE6PzxfDWvcQgg"/>

  <!-- <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> -->
  <!-- <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" href="https://toucantoco.com/fr" hreflang="fr-fr" />
  <link rel="alternate" href="https://toucantoco.com/en" hreflang="en-us" />
  <link rel="canonical" href="https://toucantoco.com/"/>

  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico" />

  <!-- Stylesheets -->
  <!-- <link href="/css/jquery.bxslider.css" rel="stylesheet" type='text/css'> -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/7729d5c7ef.js"></script>
</head>
