
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Roboto Slab";
  font-weight: 200;
  src: url('../fonts/RobotoSlab-Thin.eot');
  src: url('../fonts/RobotoSlab-Thin.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto Slab";
  font-weight: 400;
  src: url('../fonts/RobotoSlab-Light.eot');
  src: url('../fonts/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto Slab";
  font-weight: normal;
  src: url('../fonts/RobotoSlab-Regular.eot');
  src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}
