---
scripts:
- test.js
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <header class="header">

      </header>

      <div class="sub-header">
        <h1 class="sub-header__title">Our partners</h1>
      </div>

      <div class="main">
        <div class="block-description">
          <p class="block-description__txt"><strong>Meet a few of touvan toco's trusted partners</strong> Distinctio commodi ducimus cupiditate labore, netur quia molestias iure quidem illo sapiente?</p>
          <p class="block-description__action"><a class="block-description__action-btn" href="#">Demander un devis</a></p>
        </div>

        <div class="partners">
          <ul class="partners__list">
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-keyrus.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-eulidia.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-accenture.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-bearing-point.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-primexis.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-umanis.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-capgemini.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-mv2.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-ecosys.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-bio-a-la-une.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-actuarielles.png" alt=""></a></li>
          <li class="partners__item"><a class="partners__link" href=""><img src="/img/logos/logo-equancy.png" alt=""></a></li>
        </ul>
      </div>
    </div>

    {% include footer.html scripts=layout.scripts %}

  </body>

</html>
